.counter {
    width: 188px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.number {
    text-align: center;
    font-size: 14px;
    line-height: 1.4;
}