.baner,
.FAQ {
  width: 100%;
  background-color: var(--bg-header);
  display: flex;
  justify-content: center;
}

.baner {
  height: 500px;
}

.content {
  border-top: 1px solid var(--text-secondary);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  color: var(--text-secondary);
}

.content::before {
  content: "Goods4you";
  position: absolute;
  text-align: center;
  width: 100%;
  font-size: 200px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.12);
  margin-top: 46px;
  z-index: 0;
}

.content h2 {
  font-size: 36px;
  font-weight: normal;
  line-height: 50px;
  z-index: 1;
}

.content span {
  font-size: 16px;
  font-weight: 600;
  z-index: 1;
}

.FAQ_content {
  max-width: 880px;
  width: 90%;
  margin: 60px 0;
}

.FAQ_content h2 {
  font-size: 36px;
  line-height: 56px;
  font-weight: 800;
  color: var(--text-secondary);
  margin-bottom: 20px;
}

hr {
  border-top: 1px solid white;
}