.catalog {
    margin: 48px auto;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.itemBox {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 20px 35px;
}

.buttonBox {
    display: flex;
    justify-content: center;
}

@media (max-width: 1150px) {
    .itemBox {
        justify-content: center;
    } 
}